#blog {
  padding: 2rem;
  text-align: center;
}

.blog-post {
  background-color: linear-gradient(45deg,#0f2862, #091f36, #4f5f76,#9e363a);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.blog-post h2 {
  margin-top: 0;
}

.blog-post p {
  text-align: left;
}

button {
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1c86ee;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
  padding: 2rem;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  background-color: rgba(32, 35, 42, 0.9); 
  color: #172f36; 
}
