/* src/components/Main.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg,#0f2862, #091f36, #4f5f76,#9e363a); /* Gradient for body background */
    color: #ecf0f1; 
}

.App {
    text-align: center;
    color: #ecf0f1;
    background-color:linear-gradient(45deg,#0f2862, #091f36, #4f5f76,#9e363a);; 
    padding: 20px;
    border-radius: 10px;
}

header {
    background-color: #0f2862; /* Blue Popsicle */
    color: #ffffff;
    padding: 20px;
    border-bottom: 2px solid #9e363a; /* Redline border */
}

footer {
    background-color: #16a085; /* Teal for the footer */
    color: #ffffff;
    padding: 20px;
    border-top: 2px solid #149174; /* Slightly darker teal for a border */
}

button {
    background-color: #f39c12; /* Bright orange for buttons */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e67e22; /* Slightly darker orange on hover */
}
